html{
    height: 100%;
}
body{
    margin: 0;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
    box-sizing: border-box;
    background: #332;
    background-size: cover;
}
.person-container{
    display: flex;
  align-items: center;
  width: 900px;
  padding: 20px;
  box-sizing: border-box;
  line-height: 1.4;
  color: #333333;
  background: #ffffff;
  border-top: 5px solid #009578;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.25);
}
.person-container * {
    font-family: "Poppins", sans-serif;
  }
  
  .person-left,
  .person-right {
    padding: 40px;
    box-sizing: border-box;
  }
  
  .person-logo {
    width: 200px;
  }
  .person-button {
    display: block;
    margin-left: auto;
    margin-top: 15px;
    padding: 0.8em 1.6em;
    font-weight: bold;
    font-size: 1.25em;
    background: #009578;
    color: #ffffff;
    cursor: pointer;
    border: none;
    outline: none;
  }
  
  .person-button:active {
    background: #007b63;
  }
  
  @media screen and (max-width: 768px) {
    body {
      display: block;
      padding: 0;
    }
  
    .person-container {
      display: block;
      width: 100%;
      padding: 0;
    }
  }
  .person-container1{
    display: flex;
  align-items: center;
  width: 900px;
  padding: 20px;
  box-sizing: border-box;
  line-height: 1.4;
  color: #333333;
  background: #ffffff;
  border-top: 5px solid #009578;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.25);
}
.person-container1 * {
    font-family: "Poppins", sans-serif;
  }
  
  .person-left,
  .person-right {
    padding: 40px;
    box-sizing: border-box;
  }
  
  .person-logo {
    width: 200px;
  }
  .person-button {
    display: block;
    margin-left: auto;
    margin-top: 120px;
    padding: 2.8em 0.6em;
    font-weight: bold;
    font-size: 1.25em;
    background: #009578;
    color: #ffffff;
    cursor: pointer;
    border: none;
    outline: none;
  }
  
  .person-button:active {
    background: #007b63;
  }
  
  @media screen and (max-width: 768px) {
    body {
      display: block;
      padding: 0;
    }
  
    .person-container {
      display: block;
      width: 100%;
      padding: 0;
    }
  }
  * {box-sizing: border-box}

/* Set a style for all buttons */
button {
 background-color: #04AA6D;
 color: white;
 padding: 14px 20px;
 margin: 8px 0;
 border: none;
 cursor: pointer;
 width: 100%;
 opacity: 0.9;
}

button:hover {
 opacity:1;
}

/* Float cancel and delete buttons and add an equal width */
.cancelbtn, .deletebtn {
 float: left;  width: 50%;
}

/* Add a color to the cancel button */
.cancelbtn {
    background-color: #ccc;
 color: black;
}

/* Add a color to the delete button */
.deletebtn {
background-color: #f44336;
}

/* Add padding and center-align text to the container */
.container {
padding: 16px;
text-align: center;
}

/* The Modal (background) */
.modal {
 display: none; /* Hidden by default */
 position: fixed; /* Stay in place */
 z-index: 1; /* Sit on top */
 left: 0;
 top: 0;
 width: 100%; /* Full width */
 height: 100%; /* Full height */
 overflow: auto; /* Enable scroll if needed */
 background-color: #474e5d;
 padding-top: 50px;
}

/* Modal Content/Box */
.modal-content {
 background-color: #fefefe;
 margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
 border: 1px solid #888;
 width: 80%; /* Could be more or less, depending on screen size */
}

/* Style the horizontal ruler */
hr {
 border: 1px solid #f1f1f1;
 margin-bottom: 25px;
}

/* The Modal Close Button (x) */
.close {
 position: absolute;
 right: 35px;
 top: 15px;
 font-size: 40px;
 font-weight: bold;
 color: #f1f1f1;
}

.close:hover,
.close:focus {
 color: #f44336;
 cursor: pointer;
}

/* Clear floats */
.clearfix::after {
     content: "";
 clear: both;
 display: table;
}

/* Change styles for cancel button and delete button on extra small screens */
@media screen and (max-width: 300px) {
     .cancelbtn, .deletebtn {
 width: 100%;
 }
}
  

  
